<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

</head>
<body>
    <form action="POST">
        <label for="submitter">Please enter you name</label>
        <input type="text" name="submitter">
        <label for="fact">What fact have you found</label>
        <input type="text" name="fact">
    </form>
</body>
</html>