<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

</head>
<body>
    {% if pet %}
    <h1>{{ pet.pet_name }}</h1>
    <img src="{{ pet.pet_photo }}" alt="Pic of the pet">
    <p> {{ pet.pet_fact }} </p>
    {% else %}
    <h1> There is not pet or they have been adopted :(</h1>
    {% endif %}
</body>
</html>